* {
    padding: 0;
    margin: 0;
}

.bodyIndex {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "encabezado main main" 
                        "encabezado main main" 
                        "encabezado footer footer";
    background-color: rgba(0, 0, 0, .1);
                    }

.encabezadoIndex {
    grid-area: encabezado;
}  

input{
    margin-bottom: 10px;
}

#cotizacion{
    margin-bottom: 10px;
}

.mainIndex {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "datos pdf" 
                        "datos pdf";
}

.footerIndex {
    grid-area: footer;
    background-color: aqua;
}

.embedPdf {
    grid-area: pdf;
}

.datos {
    grid-area: datos;
    display: flex;
    flex-direction: column;
    width: 80%;  
    margin-left: auto; 
    margin-right: auto; 
}